.fixed-header{
  width: 100%;
  position: fixed;        
  background:  rgb(0, 20, 37);
  padding: 10px;
  top: 0;
}


.desc_t{
    display: inline-block;
    align-items: center;
    word-wrap: normal;
    margin: 0em;
    color: rgb(150, 216, 216, .85);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.desc{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.key_{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: inline-block;
  font-size: medium;
}

.desc_i{
  position: fixed;
  right: 20px;
  top: 20px;
}

footer{
  width: 100%;
  position:fixed;        
  background:  rgba(196, 196, 196, 0.85); 
  padding: 2px 0;
  color: rgb(0, 20, 37);
  bottom: 0px;
}


.leaflet-control-layers {
  margin: 0.1em 0;
  font-size:25pt;
  font-family: monospace;
  font-size: 18pt;
}

.leaflet-control-layers-toggle {
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.8)),url(/assets/icons8-layers-30.png);
}

.leaflet-popup-content-wrapper, .leaflet-popup.tip {
    background-color:rgb(150, 216, 216, .9);
    margin: 0.1em 0;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
    text-align-last: center;
}


#map {
    height: 540px;
    width: 1070px;
    position: absolute;
    right: 300px;
    bottom: 150px;
    z-index: 401;
}
  
  @media only screen and (min-width: 501px) {
      .input-group {
          width: 500px;
      }
  } 

  #panelBtn{
    position:fixed;
    top: 230px;
    z-index: 401;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
  }
  
  #panel{
    position: fixed;
    z-index: 401;
    width: 100vw;
    left: -500px;
    top: 270px;
    bottom: 0;
    overflow-y: scroll;
    transition: all 0.4s; 
    background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.8)),url(/assets/seattlekraken-logo.png);
    background-size: 90%;
  }
#panel::backdrop{
    content: "";
    opacity: 30%;
}
  
  @media only screen and (min-width: 500px) {
      #panel {
          width: 500px;
          left: -500px;
      }
  }
  
  #panel.active {
      left: 0;
  } 
  
  
  .ui-widget-content{
    z-index:401;
  }