.fixed-header{
  width: 100%;
  position: fixed;        
  background:  rgb(0, 20, 37);
  padding: 50px 0;
  color: rgb(150, 216, 216, .85);
}

.fixed-header{
  top: 0;
}

.leaflet-popup-content-wrapper, .leaflet-popup.tip {
    background-color:rgb(150, 216, 216, .85);
    margin: 0.1em 0;
    font-size: xx-large;
    font-family: monospace;
    font-weight: bold;
    text-align-last: center;
}


#map {
    height: 800px;
    width: 1640px;
    position: fixed;
    right: 10px;
    bottom: 0px;
    z-index: 401;
}
  
  @media only screen and (min-width: 501px) {
      .input-group {
          width: 500px;
      }
  } /* expand search bar to 100vw on small screens */
  
  /* Open/close panel button */
  #panelBtn{
    position:fixed;
    top: 270px;
    z-index: 401;
    font-family: monospace;
    font-size: xx-large;
  } /* allows panel button to sit on top of content */
  
  #panel{
    position: fixed;
    z-index: 401;
    width: 100vw;
    left: -500px;
    top: 325px;
    bottom: 0;
    overflow-y: scroll;
    transition: all 0.5s; 
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)),url(/assets/Seattle_Kraken_logo.png);
  }
#panel::backdrop{
    content: "";
    opacity: 30%;
    background: #9e1414;
}
  
  @media only screen and (min-width: 500px) {
      #panel {
          width: 500px;
          left: -500px;
      }
  } /* expand sidebar to 100vw on small screens (when active) */
  
  #panel.active {
      left: 0;
  } /* show sidebar when active, see JS */
  
  
  /* Autocomplete */
  .ui-widget-content{
    z-index:401;
  }